In [11]:
#импортирую библиотеки
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

titanic_df = pd.read_csv('titanic.csv')
pvt = titanic_df.pivot_table(index=['Sex'], columns=['PClass'], values='Name', aggfunc='count')

In [14]:
print(pvt.loc['female', ['1st', '2nd', '3rd']])

PClass
1st    143.0
2nd    107.0
3rd    212.0
Name: female, dtype: float64

In [15]:
pvt

PClass    *    1st    2nd    3rd
Sex
female  NaN  143.0  107.0  212.0
male    1.0  179.0  172.0  499.0